.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.Quiz h1 {
  color: white;
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}
