.FinishedQuiz {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
}

.FinishedQuiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.FinishedQuiz ul li {
}
.success {
  color: rgb(89, 199, 116);
}

.error {
  color: rgb(230, 109, 106);
}
